openapi: 3.0.3
info:
  title: API - Fédération de Collectivités Agricoles
  description: |
    API REST pour la gestion de la fédération nationale de collectivités agricoles de Madagascar.
    
    Elle couvre les fonctionnalités suivantes :
    - **A** : Ouverture d'une nouvelle collectivité
    - **B** : Admission et gestion des membres (mise à jour B-2 du 21 avril 2026)
    - **C** : Cotisations et paiements
    - **D** : Situation de trésorerie
    - **E** : Activités des collectivités et de la fédération
    - **F** : Assiduité des membres
    - **G** : Statistiques d'une collectivité
    - **H** : Statistiques de la fédération (ajout du 21 avril 2026)
  version: 2.0.0
  contact:
    name: Fédération Agricole Madagascar

servers:
  - url: https://api.federation-agricole.mg/v1
    description: Serveur de production

tags:
  - name: Collectivités
    description: Gestion des collectivités agricoles (Fonctionnalité A)
  - name: Membres
    description: Admission et gestion des membres (Fonctionnalité B & B-2)
  - name: Cotisations
    description: Cotisations et paiements (Fonctionnalité C)
  - name: Trésorerie
    description: Comptes et situation financière (Fonctionnalité D)
  - name: Activités
    description: Activités des collectivités et de la fédération (Fonctionnalité E)
  - name: Assiduité
    description: Présences aux activités (Fonctionnalité F)
  - name: Statistiques Collectivité
    description: Rapports et statistiques par collectivité (Fonctionnalité G)
  - name: Statistiques Fédération
    description: Rapports et statistiques agrégés de la fédération (Fonctionnalité H)

# PATHS
paths:

  # A - COLLECTIVITÉS

  /collectivites:
    get:
      tags: [Collectivités]
      summary: Lister toutes les collectivités
      operationId: getCollectivites
      parameters:
        - name: ville
          in: query
          schema:
            type: string
          description: Filtrer par ville
        - name: specialite
          in: query
          schema:
            type: string
          description: Filtrer par spécialité agricole
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des collectivités
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteListResponse'

    post:
      tags: [Collectivités]
      summary: Demander l'ouverture d'une nouvelle collectivité
      description: |
        Soumet une demande d'ouverture d'une nouvelle collectivité à la fédération.
        
        Conditions requises :
        - Au moins 10 membres dont 5 membres ayant une antériorité d'au moins 6 mois dans la fédération
        - Les postes spécifiques (président, président adjoint, trésorier, secrétaire) doivent être pourvus
        - L'autorisation formelle de la fédération sera délivrée après validation
      operationId: creerCollectivite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectiviteCreationRequest'
      responses:
        '201':
          description: Demande d'ouverture soumise avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /collectivites/{collectiviteId}:
    get:
      tags: [Collectivités]
      summary: Obtenir les détails d'une collectivité
      operationId: getCollectiviteById
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      responses:
        '200':
          description: Détails de la collectivité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Collectivités]
      summary: Modifier les informations d'une collectivité
      operationId: updateCollectivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectiviteUpdateRequest'
      responses:
        '200':
          description: Collectivité mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/autorisation:
    post:
      tags: [Collectivités]
      summary: Délivrer l'autorisation d'ouverture (fédération seulement)
      description: Permet à la fédération d'accorder formellement l'autorisation d'ouverture d'une collectivité.
      operationId: autoriserCollectivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [autorise, commentaire]
              properties:
                autorise:
                  type: boolean
                commentaire:
                  type: string
      responses:
        '200':
          description: Décision enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # B - MEMBRES

  /membres:
    get:
      tags: [Membres]
      summary: Lister tous les membres de la fédération
      operationId: getMembres
      parameters:
        - name: collectiviteId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtrer par collectivité
        - name: poste
          in: query
          schema:
            $ref: '#/components/schemas/Poste'
        - name: actif
          in: query
          schema:
            type: boolean
          description: Filtrer les membres actifs (non démissionnaires)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des membres
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreListResponse'

    post:
      tags: [Membres]
      summary: Inscrire un nouveau membre dans une collectivité (B-2)
      description: |
        Permet d'inscrire un nouveau membre dans une collectivité.
        
        **Nouvelles conditions d'admission (B-2) en vigueur depuis le 21 avril 2026 :**
        - Être parrainé par **au moins deux membres confirmés** de la fédération.
        - Le nombre de parrains issus de la collectivité cible doit être **≥** au nombre de parrains issus d'autres collectivités.
          - Ex. valide : 2 parrains de la collectivité cible (2 ≥ 0) ✓
          - Ex. valide : 1 parrain de la collectivité cible + 1 parrain externe (1 ≥ 1) ✓
          - Ex. valide : 3 parrains de la collectivité cible + 2 parrains externes (3 ≥ 2) ✓
          - Ex. refusé : 0 parrain de la collectivité cible + 2 parrains externes (0 < 2) ✗
        - Fournir ses informations personnelles, **incluant la nature de la relation avec chaque parrain** (famille, amis, collègues, etc.).
        - Régler **50 000 MGA** de frais d'adhésion (mobile money ou virement bancaire).
        - Régler **l'intégralité des cotisations annuelles obligatoires** de la collectivité cible.
      operationId: inscrireMembre
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembreInscriptionRequest'
      responses:
        '201':
          description: Membre inscrit avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /membres/{membreId}:
    get:
      tags: [Membres]
      summary: Obtenir les détails d'un membre
      operationId: getMembreById
      parameters:
        - $ref: '#/components/parameters/membreId'
      responses:
        '200':
          description: Détails du membre
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Membres]
      summary: Mettre à jour les informations personnelles d'un membre
      operationId: updateMembre
      parameters:
        - $ref: '#/components/parameters/membreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembreUpdateRequest'
      responses:
        '200':
          description: Membre mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /membres/{membreId}/collectivite:
    put:
      tags: [Membres]
      summary: Changer de collectivité
      description: Permet à un membre de rejoindre une autre collectivité (ex. changement de ville).
      operationId: changerCollectivite
      parameters:
        - $ref: '#/components/parameters/membreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collectiviteId, motif]
              properties:
                collectiviteId:
                  type: string
                  format: uuid
                motif:
                  type: string
      responses:
        '200':
          description: Changement de collectivité enregistré
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /membres/{membreId}/demission:
    post:
      tags: [Membres]
      summary: Enregistrer la démission d'un membre
      operationId: demissionMembre
      parameters:
        - $ref: '#/components/parameters/membreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dateDemission, motif]
              properties:
                dateDemission:
                  type: string
                  format: date
                motif:
                  type: string
      responses:
        '200':
          description: Démission enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/mandats:
    get:
      tags: [Membres]
      summary: Lister les mandats d'une collectivité
      operationId: getMandats
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: annee
          in: query
          schema:
            type: integer
          description: Filtrer par année civile
      responses:
        '200':
          description: Liste des mandats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandatListResponse'

    post:
      tags: [Membres]
      summary: Créer un nouveau mandat pour une collectivité
      description: |
        Enregistre les résultats du vote pour le nouveau mandat annuel.
        Chaque membre ne peut occuper un poste spécifique plus de 2 fois.
      operationId: creerMandat
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MandatCreationRequest'
      responses:
        '201':
          description: Mandat créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandatResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  # A (suite) — MANDAT DE LA FÉDÉRATION

  /federation/mandats:
    get:
      tags: [Collectivités]
      summary: Lister les mandats de la fédération
      description: |
        Retourne l'historique des mandats de direction de la fédération.
        Un mandat fédéral dure **2 ans** (contrairement aux collectivités : 1 an).
      operationId: getMandatsFederation
      parameters:
        - name: annee
          in: query
          schema:
            type: integer
          description: Filtrer par année de début de mandat
      responses:
        '200':
          description: Liste des mandats de la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandatFederationListResponse'

    post:
      tags: [Collectivités]
      summary: Créer un nouveau mandat pour la fédération
      description: |
        Enregistre les résultats du vote pour le nouveau mandat de direction de la fédération.
        
        Règles :
        - Le président doit être, ou avoir été, président d'une collectivité.
        - La durée du mandat est de **2 ans civils**.
        - Chaque membre ne peut occuper un même poste fédéral plus de 2 fois.
      operationId: creerMandatFederation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MandatFederationCreationRequest'
      responses:
        '201':
          description: Mandat fédéral créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandatFederationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '403':
          $ref: '#/components/responses/Forbidden'

  /federation/mandats/{mandatId}:
    get:
      tags: [Collectivités]
      summary: Détails d'un mandat de la fédération
      operationId: getMandatFederationById
      parameters:
        - name: mandatId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Détails du mandat fédéral
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandatFederationResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # C - COTISATIONS

  /collectivites/{collectiviteId}/cotisations-annuelles:
    get:
      tags: [Cotisations]
      summary: Consulter le montant des cotisations annuelles obligatoires d'une collectivité
      description: |
        Retourne le montant des cotisations annuelles obligatoires fixé par la collectivité.
        Ce montant est exigé intégralement lors de l'inscription d'un nouveau membre (B-2).
      operationId: getCotisationsAnnuelles
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      responses:
        '200':
          description: Montant des cotisations annuelles obligatoires
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationsAnnuellesResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Cotisations]
      summary: Définir ou mettre à jour le montant des cotisations annuelles obligatoires
      description: |
        Permet au trésorier (ou président) de définir le montant annuel obligatoire.
        Ce montant s'applique lors des nouvelles inscriptions.
      operationId: setCotisationsAnnuelles
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [montant, annee]
              properties:
                montant:
                  type: number
                  format: double
                  description: Montant annuel obligatoire en MGA
                  example: 200000
                annee:
                  type: integer
                  description: Année à laquelle s'applique ce montant
                  example: 2026
      responses:
        '200':
          description: Montant mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationsAnnuellesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/cotisations:
    get:
      tags: [Cotisations]
      summary: Lister les cotisations d'une collectivité
      operationId: getCotisations
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: membreId
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/TypeCotisation'
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des cotisations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationListResponse'

    post:
      tags: [Cotisations]
      summary: Enregistrer un encaissement (cotisation)
      description: |
        Le trésorier enregistre un paiement de cotisation.
        Un pourcentage des cotisations périodiques est automatiquement reversé à la fédération.
      operationId: enregistrerCotisation
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CotisationCreationRequest'
      responses:
        '201':
          description: Cotisation enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/cotisations/{cotisationId}:
    get:
      tags: [Cotisations]
      summary: Obtenir les détails d'une cotisation
      operationId: getCotisationById
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/cotisationId'
      responses:
        '200':
          description: Détails de la cotisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/cotisations:
    get:
      tags: [Cotisations]
      summary: Lister les reversements reçus par la fédération
      operationId: getCotisationsFederation
      parameters:
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des reversements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationListResponse'

  /federation/taux-reversement:
    get:
      tags: [Cotisations]
      summary: Obtenir le taux de reversement actuel à la fédération
      operationId: getTauxReversement
      responses:
        '200':
          description: Taux de reversement en vigueur
          content:
            application/json:
              schema:
                type: object
                properties:
                  taux:
                    type: number
                    format: float
                    example: 0.10
                  dateEffet:
                    type: string
                    format: date

    put:
      tags: [Cotisations]
      summary: Modifier le taux de reversement à la fédération
      operationId: setTauxReversement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taux, dateEffet]
              properties:
                taux:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                dateEffet:
                  type: string
                  format: date
      responses:
        '200':
          description: Taux mis à jour
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  # D - TRÉSORERIE

  /collectivites/{collectiviteId}/comptes:
    get:
      tags: [Trésorerie]
      summary: Lister les comptes d'une collectivité
      operationId: getComptes
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/TypeCompte'
      responses:
        '200':
          description: Liste des comptes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteListResponse'

    post:
      tags: [Trésorerie]
      summary: Créer un nouveau compte pour une collectivité
      description: |
        Crée un compte bancaire, mobile money ou caisse.
        Contraintes :
        - Une seule caisse par collectivité
        - Plusieurs comptes bancaires ou mobile money autorisés
      operationId: creerCompte
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompteCreationRequest'
      responses:
        '201':
          description: Compte créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /collectivites/{collectiviteId}/comptes/{compteId}:
    get:
      tags: [Trésorerie]
      summary: Obtenir les détails d'un compte
      operationId: getCompteById
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/compteId'
      responses:
        '200':
          description: Détails du compte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Trésorerie]
      summary: Mettre à jour le solde d'un compte
      operationId: updateSoldeCompte
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/compteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [solde, dateReleve]
              properties:
                solde:
                  type: number
                  format: double
                  description: Nouveau solde en MGA
                dateReleve:
                  type: string
                  format: date
      responses:
        '200':
          description: Solde mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Trésorerie]
      summary: Supprimer un compte
      operationId: deleteCompte
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/compteId'
      responses:
        '204':
          description: Compte supprimé
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/comptes:
    get:
      tags: [Trésorerie]
      summary: Lister les comptes de la fédération
      operationId: getComptesFederation
      parameters:
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/TypeCompte'
      responses:
        '200':
          description: Liste des comptes de la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteListResponse'

    post:
      tags: [Trésorerie]
      summary: Créer un compte pour la fédération
      operationId: creerCompteFederation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompteCreationRequest'
      responses:
        '201':
          description: Compte créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /federation/comptes/{compteId}:
    get:
      tags: [Trésorerie]
      summary: Détails d'un compte de la fédération
      operationId: getCompteFederationById
      parameters:
        - $ref: '#/components/parameters/compteId'
      responses:
        '200':
          description: Détails du compte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Trésorerie]
      summary: Mettre à jour le solde d'un compte de la fédération
      operationId: updateSoldeCompteFederation
      parameters:
        - $ref: '#/components/parameters/compteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [solde, dateReleve]
              properties:
                solde:
                  type: number
                  format: double
                dateReleve:
                  type: string
                  format: date
      responses:
        '200':
          description: Solde mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Trésorerie]
      summary: Supprimer un compte de la fédération
      operationId: deleteCompteFederation
      parameters:
        - $ref: '#/components/parameters/compteId'
      responses:
        '204':
          description: Compte supprimé
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/comptes/{compteId}/historique-soldes:
    get:
      tags: [Trésorerie]
      summary: Consulter l'historique des soldes d'un compte
      description: |
        Retourne l'évolution du solde d'un compte à différentes dates.
        Chaque collectivité doit être transparente envers ses membres et la fédération
        de sa situation financière (section D).
      operationId: getHistoriqueSoldesCompte
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/compteId'
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Historique des soldes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoriqueSoldesResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/comptes/{compteId}/historique-soldes:
    get:
      tags: [Trésorerie]
      summary: Consulter l'historique des soldes d'un compte de la fédération
      operationId: getHistoriqueSoldesCompteFederation
      parameters:
        - $ref: '#/components/parameters/compteId'
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Historique des soldes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoriqueSoldesResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # E - ACTIVITÉS

  /collectivites/{collectiviteId}/activites:
    get:
      tags: [Activités]
      summary: Lister les activités d'une collectivité
      operationId: getActivites
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/TypeActivite'
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des activités
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteListResponse'

    post:
      tags: [Activités]
      summary: Planifier une activité pour une collectivité
      description: |
        Planifie une activité pour la collectivité.
        Types possibles :
        - `ASSEMBLEE_GENERALE` : obligatoire pour tous les membres
        - `FORMATION_JUNIOR` : obligatoire pour les membres juniors
        - `EXCEPTIONNELLE` : présence configurable
      operationId: planifierActivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteCreationRequest'
      responses:
        '201':
          description: Activité planifiée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /collectivites/{collectiviteId}/activites/{activiteId}:
    get:
      tags: [Activités]
      summary: Obtenir les détails d'une activité
      operationId: getActiviteById
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      responses:
        '200':
          description: Détails de l'activité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Activités]
      summary: Modifier une activité
      operationId: updateActivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteUpdateRequest'
      responses:
        '200':
          description: Activité mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Activités]
      summary: Annuler une activité
      operationId: deleteActivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      responses:
        '204':
          description: Activité annulée
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/activites:
    get:
      tags: [Activités]
      summary: Lister les activités planifiées par la fédération
      operationId: getActivitesFederation
      parameters:
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
        - name: obligatoire
          in: query
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des activités de la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteListResponse'

    post:
      tags: [Activités]
      summary: Planifier une activité nationale (fédération)
      operationId: planifierActiviteFederation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteFederationCreationRequest'
      responses:
        '201':
          description: Activité planifiée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /federation/activites/{activiteId}:
    get:
      tags: [Activités]
      summary: Détails d'une activité de la fédération
      operationId: getActiviteFederationById
      parameters:
        - $ref: '#/components/parameters/activiteId'
      responses:
        '200':
          description: Détails de l'activité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Activités]
      summary: Modifier une activité de la fédération
      operationId: updateActiviteFederation
      parameters:
        - $ref: '#/components/parameters/activiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteUpdateRequest'
      responses:
        '200':
          description: Activité mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Activités]
      summary: Annuler une activité de la fédération
      operationId: deleteActiviteFederation
      parameters:
        - $ref: '#/components/parameters/activiteId'
      responses:
        '204':
          description: Activité annulée
        '404':
          $ref: '#/components/responses/NotFound'

  # F - ASSIDUITÉ

  /collectivites/{collectiviteId}/activites/{activiteId}/presences:
    get:
      tags: [Assiduité]
      summary: Consulter la fiche de présence d'une activité
      operationId: getPresences
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      responses:
        '200':
          description: Fiche de présence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Assiduité]
      summary: Enregistrer la présence d'un membre à une activité
      description: |
        Le secrétaire enregistre la présence ou l'absence d'un membre.
        Un membre d'une autre collectivité peut être inscrit, mais sa présence ne
        compte pas dans son taux d'assiduité annuel.
      operationId: enregistrerPresence
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceCreationRequest'
      responses:
        '201':
          description: Présence enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/activites/{activiteId}/presences/{membreId}:
    patch:
      tags: [Assiduité]
      summary: Modifier le statut de présence d'un membre
      description: Permet de mettre à jour un statut (ex. excusé avec motif).
      operationId: updatePresence
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
        - $ref: '#/components/parameters/membreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceUpdateRequest'
      responses:
        '200':
          description: Présence mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/activites/{activiteId}/presences:
    get:
      tags: [Assiduité]
      summary: Consulter la fiche de présence d'une activité de la fédération
      operationId: getPresencesFederation
      parameters:
        - $ref: '#/components/parameters/activiteId'
      responses:
        '200':
          description: Fiche de présence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceListResponse'

    post:
      tags: [Assiduité]
      summary: Enregistrer la présence à une activité de la fédération
      operationId: enregistrerPresenceFederation
      parameters:
        - $ref: '#/components/parameters/activiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceCreationRequest'
      responses:
        '201':
          description: Présence enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  # G - STATISTIQUES COLLECTIVITÉ

  /collectivites/{collectiviteId}/statistiques/rapport-mensuel:
    get:
      tags: [Statistiques Collectivité]
      summary: Calculer le rapport mensuel (vue interne)
      description: Calcule à la demande le taux d'assiduité global et le nombre de membres inscrits pour un mois donné.
      operationId: getRapportMensuel
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: annee
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: mois
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 4
      responses:
        '200':
          description: Rapport mensuel calculé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RapportMensuelCollectiviteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Statistiques Collectivité]
      summary: Soumettre le rapport mensuel à la fédération (G)
      description: |
        Le **président de la collectivité** soumet officiellement le rapport mensuel
        à la fédération, conformément à l'obligation de reporting (section G).
        
        Ce rapport contient le taux d'assiduité global et le nombre de membres inscrits
        pour le mois concerné.
      operationId: soumettrerapportMensuel
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [annee, mois]
              properties:
                annee:
                  type: integer
                  example: 2026
                mois:
                  type: integer
                  minimum: 1
                  maximum: 12
                  example: 4
                commentaire:
                  type: string
                  description: Commentaire optionnel du président accompagnant le rapport
      responses:
        '201':
          description: Rapport mensuel soumis avec succès à la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RapportMensuelCollectiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Un rapport a déjà été soumis pour ce mois
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /collectivites/{collectiviteId}/statistiques/membres:
    get:
      tags: [Statistiques Collectivité]
      summary: Statistiques détaillées par membre actif
      description: |
        Retourne pour chaque membre actif (non démissionnaire) :
        - Taux d'assiduité sur la période
        - Montant d'encaissement sur la période
        - Montant impayé potentiel sur la période
      operationId: getStatsMembres
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: dateDebut
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Début de la période d'analyse
        - name: dateFin
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fin de la période d'analyse
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Statistiques détaillées des membres
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsMembresResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/statistiques/membres/{membreId}:
    get:
      tags: [Statistiques Collectivité]
      summary: Statistiques individuelles d'un membre actif
      operationId: getStatsMembre
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/membreId'
        - name: dateDebut
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Statistiques du membre
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsMembreResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # H - STATISTIQUES FÉDÉRATION

  /federation/statistiques/rapport-mensuel:
    get:
      tags: [Statistiques Fédération]
      summary: Rapport mensuel global de la fédération (H)
      description: |
        Récapitule, pour toutes les collectivités, les indicateurs clés du mois demandé :
        - Taux d'assiduité global par collectivité
        - Pourcentage de membres à jour dans leur cotisation par collectivité
        - Nombre de nouveaux adhérents par collectivité
        
        Ce rapport est établi mensuellement par le secrétaire de la fédération et présenté
        en assemblée générale annuelle.
      operationId: getRapportMensuelFederation
      parameters:
        - name: annee
          in: query
          required: true
          schema:
            type: integer
            example: 2026
          description: Année du rapport
        - name: mois
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 4
          description: Mois du rapport (1 = janvier, 12 = décembre)
      responses:
        '200':
          description: Rapport mensuel global de la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RapportMensuelFederationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /federation/statistiques/rapport-annuel:
    get:
      tags: [Statistiques Fédération]
      summary: Rapport annuel global de la fédération (H)
      description: |
        Agrège les données sur l'ensemble de l'année pour toutes les collectivités.
        Utilisé lors de l'assemblée générale annuelle pour identifier les collectivités
        les plus méritantes et celles nécessitant un accompagnement.
        
        Indicateurs fournis par collectivité :
        - Taux d'assiduité global annuel
        - Pourcentage de membres à jour dans leurs cotisations sur l'année
        - Nombre total de nouveaux adhérents sur l'année
      operationId: getRapportAnnuelFederation
      parameters:
        - name: annee
          in: query
          required: true
          schema:
            type: integer
            example: 2025
          description: Année du rapport annuel
      responses:
        '200':
          description: Rapport annuel global de la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RapportAnnuelFederationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /federation/statistiques/collectivites/{collectiviteId}:
    get:
      tags: [Statistiques Fédération]
      summary: Détail des statistiques fédération pour une collectivité (H)
      description: |
        Retourne les statistiques agrégées d'une collectivité spécifique pour
        la période demandée, telles que recensées par la fédération.
      operationId: getStatsCollectiviteFederation
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: dateDebut
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Début de la période d'analyse
        - name: dateFin
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fin de la période d'analyse
      responses:
        '200':
          description: Statistiques de la collectivité pour la période
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsCollectiviteFederationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

# COMPONENTS
components:

  # PARAMETERS
  parameters:
    collectiviteId:
      name: collectiviteId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique de la collectivité

    membreId:
      name: membreId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique du membre

    cotisationId:
      name: cotisationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique de la cotisation

    compteId:
      name: compteId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique du compte

    activiteId:
      name: activiteId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique de l'activité

  # RESPONSES COMMUNES
  responses:
    BadRequest:
      description: Requête invalide (données manquantes ou incorrectes)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Action non autorisée pour ce rôle
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    UnprocessableEntity:
      description: Entité non traitable — violation d'une règle métier
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  # SCHEMAS
  schemas:

    # --- Enums ---

    Poste:
      type: string
      enum:
        - PRESIDENT
        - PRESIDENT_ADJOINT
        - TRESORIER
        - SECRETAIRE
        - MEMBRE_CONFIRME
        - MEMBRE_JUNIOR
      description: Poste d'un membre dans une collectivité

    Genre:
      type: string
      enum:
        - MASCULIN
        - FEMININ

    TypeCotisation:
      type: string
      enum:
        - MENSUELLE
        - ANNUELLE
        - PONCTUELLE

    ModePaiement:
      type: string
      enum:
        - ESPECE
        - VIREMENT_BANCAIRE
        - MOBILE_MONEY

    TypeCompte:
      type: string
      enum:
        - CAISSE
        - BANCAIRE
        - MOBILE_MONEY

    NomBanque:
      type: string
      enum:
        - BRED
        - MCB
        - BMOI
        - BOA
        - BGFI
        - AFG
        - ACCES_BANQUE
        - BAOBAB
        - SIPEM

    ServiceMobileMoney:
      type: string
      enum:
        - ORANGE_MONEY
        - MVOLA
        - AIRTEL_MONEY

    TypeActivite:
      type: string
      enum:
        - ASSEMBLEE_GENERALE
        - FORMATION_JUNIOR
        - EXCEPTIONNELLE

    StatutPresence:
      type: string
      enum:
        - PRESENT
        - ABSENT
        - EXCUSE

    StatutCollectivite:
      type: string
      enum:
        - EN_ATTENTE
        - AUTORISEE
        - REFUSEE

    # --- Collectivité ---

    CollectiviteBase:
      type: object
      properties:
        nom:
          type: string
          example: Collectivité Vakinankaratra
        ville:
          type: string
          example: Antsirabe
        specialiteAgricole:
          type: string
          example: Riziculture
        dateCreation:
          type: string
          format: date

    CollectiviteCreationRequest:
      allOf:
        - $ref: '#/components/schemas/CollectiviteBase'
        - type: object
          required: [nom, ville, specialiteAgricole, dateCreation, membresInitiaux, postesInitiaux]
          properties:
            membresInitiaux:
              type: array
              minItems: 10
              items:
                type: string
                format: uuid
              description: Liste des IDs des membres fondateurs (min. 10, ancienneté ≥ 6 mois)
            postesInitiaux:
              $ref: '#/components/schemas/PostesMandat'

    CollectiviteUpdateRequest:
      type: object
      properties:
        nom:
          type: string
        ville:
          type: string
        specialiteAgricole:
          type: string

    CollectiviteResponse:
      allOf:
        - $ref: '#/components/schemas/CollectiviteBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            numero:
              type: string
              description: Numéro unique de la collectivité
            statut:
              $ref: '#/components/schemas/StatutCollectivite'
            nombreMembres:
              type: integer

    CollectiviteListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CollectiviteResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # --- Membre ---

    MembreBase:
      type: object
      properties:
        nom:
          type: string
        prenom:
          type: string
        dateNaissance:
          type: string
          format: date
        genre:
          $ref: '#/components/schemas/Genre'
        adresse:
          type: string
        metier:
          type: string
        telephone:
          type: string
          example: "+261 34 00 000 00"
        email:
          type: string
          format: email

    # B-2 : Nouveau schema de parrain avec relation
    ParrainAvecRelation:
      type: object
      required: [parrainId, relationAvecCandidat]
      properties:
        parrainId:
          type: string
          format: uuid
          description: |
            Identifiant du membre confirmé parrain.
            Ce membre doit avoir le poste MEMBRE_CONFIRME au sein de la fédération.
        relationAvecCandidat:
          type: string
          example: "famille"
          description: |
            Nature de la relation entre le parrain et le candidat
            (ex. famille, ami, collègue, voisin, etc.)

    MembreInscriptionRequest:
      allOf:
        - $ref: '#/components/schemas/MembreBase'
        - type: object
          required:
            - nom
            - prenom
            - dateNaissance
            - genre
            - adresse
            - metier
            - telephone
            - email
            - collectiviteId
            - parrains
            - paiement
          properties:
            collectiviteId:
              type: string
              format: uuid
              description: Identifiant de la collectivité dans laquelle le candidat postule
            parrains:
              type: array
              minItems: 2
              items:
                $ref: '#/components/schemas/ParrainAvecRelation'
              description: |
                Liste des parrains (minimum 2 membres confirmés de la fédération).
                
                **Règle B-2** : Le nombre de parrains appartenant à la collectivité cible
                doit être supérieur ou égal au nombre de parrains appartenant à d'autres
                collectivités.
                
                Exemples valides :
                - 2 parrains de la collectivité cible (2 ≥ 0) ✓
                - 1 parrain cible + 1 parrain externe (1 ≥ 1) ✓
                - 3 parrains cible + 2 parrains externes (3 ≥ 2) ✓
                
                Exemple refusé :
                - 0 parrain cible + 2 parrains externes (0 < 2) ✗
            paiement:
              $ref: '#/components/schemas/PaiementAdhesionComplet'

    # B-2 : Paiement d'adhésion étendu (frais + cotisations annuelles obligatoires)
    PaiementAdhesionComplet:
      type: object
      required: [modePaiement, montantFraisAdhesion, montantCotisationsAnnuelles]
      properties:
        modePaiement:
          type: string
          enum:
            - MOBILE_MONEY
            - VIREMENT_BANCAIRE
          description: Seul le mobile money ou le virement bancaire est accepté
        montantFraisAdhesion:
          type: number
          format: double
          default: 50000
          description: Frais d'adhésion fixes en MGA (50 000 MGA)
          example: 50000
        montantCotisationsAnnuelles:
          type: number
          format: double
          description: |
            Montant total des cotisations annuelles obligatoires de la collectivité cible,
            à régler intégralement lors de l'inscription.
            Ce montant est défini par la collectivité (ex. 200 000 MGA pour la collectivité n°1).
          example: 200000
        montantTotal:
          type: number
          format: double
          readOnly: true
          description: |
            Montant total à régler = frais d'adhésion + cotisations annuelles obligatoires.
            Calculé automatiquement par le serveur.
          example: 250000

    MembreUpdateRequest:
      allOf:
        - $ref: '#/components/schemas/MembreBase'

    MembreResponse:
      allOf:
        - $ref: '#/components/schemas/MembreBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            dateAdhesion:
              type: string
              format: date
            collectiviteId:
              type: string
              format: uuid
            poste:
              $ref: '#/components/schemas/Poste'
            actif:
              type: boolean
            dateDemission:
              type: string
              format: date
              nullable: true

    MembreListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MembreResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # --- Mandat ---

    PostesMandat:
      type: object
      required: [presidentId, presidentAdjointId, tresorierId, secretaireId]
      properties:
        presidentId:
          type: string
          format: uuid
        presidentAdjointId:
          type: string
          format: uuid
        tresorierId:
          type: string
          format: uuid
        secretaireId:
          type: string
          format: uuid

    MandatCreationRequest:
      type: object
      required: [annee, postes]
      properties:
        annee:
          type: integer
          description: Année civile du mandat
          example: 2026
        postes:
          $ref: '#/components/schemas/PostesMandat'

    MandatResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        collectiviteId:
          type: string
          format: uuid
        annee:
          type: integer
        postes:
          $ref: '#/components/schemas/PostesMandat'
        dateDebut:
          type: string
          format: date
        dateFin:
          type: string
          format: date

    MandatListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MandatResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # --- Cotisation ---

    CotisationCreationRequest:
      type: object
      required: [membreId, type, montant, dateEncaissement, modePaiement, compteID]
      properties:
        membreId:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/TypeCotisation'
        montant:
          type: number
          format: double
          description: Montant en MGA
        dateEncaissement:
          type: string
          format: date
        modePaiement:
          $ref: '#/components/schemas/ModePaiement'
        compteID:
          type: string
          format: uuid
          description: Compte récepteur du paiement (caisse, bancaire ou mobile money). le mode de paiement doit être cohérent avec le type de compte (ex. MOBILE_MONEY → compte mobile money)
        motif:
          type: string
          description: Motif requis pour les cotisations ponctuelles

    CotisationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        membreId:
          type: string
          format: uuid
        collectiviteId:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/TypeCotisation'
        montant:
          type: number
          format: double
        dateEncaissement:
          type: string
          format: date
        modePaiement:
          $ref: '#/components/schemas/ModePaiement'
        montantReverseFederation:
          type: number
          format: double
          nullable: true
          description: Montant reversé à la fédération (pour cotisations périodiques)
        motif:
          type: string
          nullable: true

    CotisationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CotisationResponse'
        totalMontant:
          type: number
          format: double
          description: Total des montants encaissés sur la période
        pagination:
          $ref: '#/components/schemas/Pagination'

    # --- Compte ---

    CompteCreationRequest:
      type: object
      required: [type]
      properties:
        type:
          $ref: '#/components/schemas/TypeCompte'
        soldeInitial:
          type: number
          format: double
          default: 0
          description: Solde initial en MGA
        dateOuverture:
          type: string
          format: date
        nomTitulaire:
          type: string
        nomBanque:
          $ref: '#/components/schemas/NomBanque'
        numeroBanque:
          type: string
          pattern: '^\d{5}\d{5}\d{11}\d{2}$'
          description: "Format : BBBBBGGGGGCCCCCCCCCCCKK (23 chiffres)"
        nomTitulaireNumero:
          type: string
        serviceMobileMoney:
          $ref: '#/components/schemas/ServiceMobileMoney'
        numeroTelephone:
          type: string

    CompteResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/TypeCompte'
        solde:
          type: number
          format: double
          description: Solde actuel en MGA
        dateReleve:
          type: string
          format: date
        nomTitulaire:
          type: string
          nullable: true
        nomBanque:
          allOf:
            - $ref: '#/components/schemas/NomBanque'
          nullable: true
        numeroBanque:
          type: string
          nullable: true
        serviceMobileMoney:
          allOf:
            - $ref: '#/components/schemas/ServiceMobileMoney'
          nullable: true
        numeroTelephone:
          type: string
          nullable: true

    CompteListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CompteResponse'
        totalSolde:
          type: number
          format: double
          description: Solde total de tous les comptes en MGA

    # --- Activité ---

    ActiviteBase:
      type: object
      properties:
        titre:
          type: string
        description:
          type: string
        type:
          $ref: '#/components/schemas/TypeActivite'
        dateActivite:
          type: string
          format: date-time
        obligatoire:
          type: boolean
          default: false
        reglePlanification:
          type: string
          nullable: true
          description: Règle de récurrence annuelle pour les activités planifiées sur un même jour fixe chaque mois (ASSEMBLE_GENERALE et  FORMATION_JUNIOR). Null pour les activités EXCEPTIONNELLES ponctuelles
          example: "Deuxième dimanche du mois"

    ActiviteCreationRequest:
      allOf:
        - $ref: '#/components/schemas/ActiviteBase'
        - type: object
          required: [titre, type, dateActivite]
          properties:
            membresObligatoires:
              type: array
              items:
                type: string
                format: uuid
              description: |
                IDs des membres pour lesquels la présence est obligatoire
                (si vide et obligatoire=true, concerne tous les membres)

    ActiviteFederationCreationRequest:
      allOf:
        - $ref: '#/components/schemas/ActiviteBase'
        - type: object
          required: [titre, type, dateActivite]
          properties:
            collectivitesInvitees:
              type: array
              items:
                type: string
                format: uuid
              description: IDs des collectivités invitées (si vide = toutes)

    ActiviteUpdateRequest:
      type: object
      properties:
        titre:
          type: string
        description:
          type: string
        dateActivite:
          type: string
          format: date-time
        obligatoire:
          type: boolean
        membresObligatoires:
          type: array
          items:
            type: string
            format: uuid

    ActiviteResponse:
      allOf:
        - $ref: '#/components/schemas/ActiviteBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            collectiviteId:
              type: string
              format: uuid
              nullable: true
            organisePar:
              type: string
              enum: [COLLECTIVITE, FEDERATION]
            membresObligatoires:
              type: array
              items:
                type: string
                format: uuid

    ActiviteListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ActiviteResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # --- Présence ---

    PresenceCreationRequest:
      type: object
      required: [membreId, statut]
      properties:
        membreId:
          type: string
          format: uuid
        statut:
          $ref: '#/components/schemas/StatutPresence'
        motifAbsence:
          type: string
          description: Requis si statut = EXCUSE

    PresenceUpdateRequest:
      type: object
      properties:
        statut:
          $ref: '#/components/schemas/StatutPresence'
        motifAbsence:
          type: string

    PresenceResponse:
      type: object
      properties:
        membreId:
          type: string
          format: uuid
        activiteId:
          type: string
          format: uuid
        statut:
          $ref: '#/components/schemas/StatutPresence'
        motifAbsence:
          type: string
          nullable: true
        estMembreExterne:
          type: boolean
          description: Vrai si le membre appartient à une autre collectivité

    PresenceListResponse:
      type: object
      properties:
        activiteId:
          type: string
          format: uuid
        presences:
          type: array
          items:
            $ref: '#/components/schemas/PresenceResponse'
        totalPresents:
          type: integer
        totalAbsents:
          type: integer
        totalExcuses:
          type: integer

    # --- Mandat Fédération ---

    MandatFederationCreationRequest:
      type: object
      required: [anneeDebut, postes]
      properties:
        anneeDebut:
          type: integer
          description: Première année civile du mandat fédéral (dure 2 ans)
          example: 2026
        postes:
          $ref: '#/components/schemas/PostesMandat'

    MandatFederationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        anneeDebut:
          type: integer
          example: 2026
        anneeFin:
          type: integer
          example: 2027
          description: Calculé automatiquement (anneeDebut + 1)
        postes:
          $ref: '#/components/schemas/PostesMandat'
        dateDebut:
          type: string
          format: date
        dateFin:
          type: string
          format: date

    MandatFederationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MandatFederationResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # --- Cotisations annuelles obligatoires ---

    CotisationsAnnuellesResponse:
      type: object
      properties:
        collectiviteId:
          type: string
          format: uuid
        annee:
          type: integer
          example: 2026
        montant:
          type: number
          format: double
          description: Montant annuel obligatoire en MGA
          example: 200000

    # --- Historique soldes ---

    EntreeSolde:
      type: object
      properties:
        date:
          type: string
          format: date
        solde:
          type: number
          format: double
          description: Solde en MGA à cette date

    HistoriqueSoldesResponse:
      type: object
      properties:
        compteId:
          type: string
          format: uuid
        typeCompte:
          $ref: '#/components/schemas/TypeCompte'
        historique:
          type: array
          items:
            $ref: '#/components/schemas/EntreeSolde'

    # --- Statistiques Collectivité (G) ---

    RapportMensuelCollectiviteResponse:
      type: object
      properties:
        collectiviteId:
          type: string
          format: uuid
        collectiviteNom:
          type: string
        annee:
          type: integer
        mois:
          type: integer
        tauxAssiduite:
          type: number
          format: float
          description: Taux d'assiduité global en pourcentage (0-100)
          example: 85.5
        nombreMembresInscrits:
          type: integer

    StatsMembreResponse:
      type: object
      properties:
        membreId:
          type: string
          format: uuid
        nom:
          type: string
        prenom:
          type: string
        poste:
          $ref: '#/components/schemas/Poste'
        tauxAssiduite:
          type: number
          format: float
          description: Taux d'assiduité sur la période (%)
        montantEncaisse:
          type: number
          format: double
          description: Total des cotisations payées sur la période (MGA)
        montantImpaye:
          type: number
          format: double
          description: Montant potentiellement impayé sur la période (MGA)

    StatsMembresResponse:
      type: object
      properties:
        collectiviteId:
          type: string
          format: uuid
        dateDebut:
          type: string
          format: date
        dateFin:
          type: string
          format: date
        membres:
          type: array
          items:
            $ref: '#/components/schemas/StatsMembreResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # --- Statistiques Fédération (H) ---

    StatsCollectiviteFederationResponse:
      type: object
      description: Statistiques agrégées d'une collectivité telles que recensées par la fédération
      properties:
        collectiviteId:
          type: string
          format: uuid
        collectiviteNom:
          type: string
        dateDebut:
          type: string
          format: date
        dateFin:
          type: string
          format: date
        tauxAssiduite:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Taux d'assiduité global de la collectivité sur la période (%)
          example: 78.3
        pourcentageMembresAJour:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: |
            Pourcentage de membres actifs à jour dans leur cotisation sur la période (%).
            Un membre est considéré "à jour" s'il n'a aucun montant impayé sur la période.
          example: 91.2
        nombreNouveauxAdherents:
          type: integer
          minimum: 0
          description: Nombre de nouveaux membres admis dans la collectivité sur la période
          example: 12

    RapportMensuelFederationResponse:
      type: object
      description: Rapport mensuel global établi par le secrétaire de la fédération
      properties:
        annee:
          type: integer
          example: 2026
        mois:
          type: integer
          minimum: 1
          maximum: 12
          example: 4
        nombreCollectivites:
          type: integer
          description: Nombre total de collectivités recensées dans ce rapport
        collectivites:
          type: array
          description: Liste des statistiques par collectivité pour le mois
          items:
            $ref: '#/components/schemas/StatsCollectiviteFederationResponse'

    RapportAnnuelFederationResponse:
      type: object
      description: Rapport annuel global de la fédération, présenté en assemblée générale
      properties:
        annee:
          type: integer
          example: 2025
        nombreCollectivites:
          type: integer
          description: Nombre total de collectivités recensées dans ce rapport
        collectivites:
          type: array
          description: |
            Liste des statistiques annuelles par collectivité.
            Permet d'identifier les collectivités les plus méritantes et celles à accompagner.
          items:
            $ref: '#/components/schemas/StatsCollectiviteFederationResponse'

    # --- Génériques ---

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: RESSOURCE_INTROUVABLE
        message:
          type: string
          example: La collectivité demandée n'existe pas.
        details:
          type: array
          items:
            type: object
            properties:
              champ:
                type: string
              erreur:
                type: string